<ion-header>
  <ion-toolbar color="primary">


    <ion-title>Header</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list style="display: none;">
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>


  <!--轮播图-->
  <ion-slides pager loop="true" autoplay="2000" centeredSlides="true" speed="600"  style="height:auto;">

    <ion-slide *ngFor="let slide of slides">
      <img src="{{slide.image}}">
      <h2>{{slide.title}}</h2>
    </ion-slide>

  </ion-slides>


  <p class="myp">There is a header above me!</p>
</ion-content>
